$break-small: 500px;

.container {
  margin-bottom: 100px;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 100px;

  @media screen and (max-width: $break-small) {
    margin-left: 10%;
    margin-right: 10%;
  }

  img {
    width: 100%;
  }

  h1 {
    font-size: 6rem;
    font-family: "Comfortaa", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -0.01562em;

    @media screen and (max-width: $break-small) {
      font-size: 3rem;
    }
  }

  h2 {
    font-size: 3.75rem;
    font-family: "Comfortaa", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -0.00833em;

    @media screen and (max-width: $break-small) {
      font-size: 1.875rem;
    }
  }

  h3 {
    font-size: 3rem;
    font-family: Comfortaa;
    font-weight: 400;
    line-height: 1.04;

    @media screen and (max-width: $break-small) {
      font-size: 1.5rem;
    }
  }

  p {
    font-size: 1rem;
    font-family: "Comfortaa", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
  }
}

.med-space {
  margin-bottom: 25px;
  margin-top: 25px;
}
