.container {
  align-items: center;
  background: linear-gradient(#14a4bf, #aff2fa);
  display: flex;
  height: 100vh;
  justify-content: space-between;
  position: relative;
}

.top {
  height: auto;
  max-width: 100%;
  position: absolute;
  transition: opacity 1s ease-in-out;
  &:hover {
    opacity: 0;
  }
}

.bottom {
  height: auto;
  max-width: 100%;
  position: absolute;
  transition: opacity 1s ease-in-out;
}

.container-high-def {
  align-items: center;
  background-image: url("../images/palm.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: space-between;
}

.typography-container {
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin-left: 50px;
  position: relative;
  white-space: normal;

  h1 {
    margin-top: 25px;
  }

  h4.smaller {
    font-size: 1.5rem;
  }

  h1.smaller {
    font-size: 4.235rem;
  }

  h3.smaller {
    font-size: 2.117rem;
  }

  h4.smallest {
    font-size: 1rem;
  }

  h1.smallest {
    font-size: 2.823rem;
  }

  h3.smallest {
    font-size: 1.411rem;
  }
}
