.container {
  display: flex;
  flex-direction: column;
  margin-right: 25px;
}

.social-button {
  span {
    font-size: 2rem;
  }
}

button.social-button {
  align-items: center;
  background-color: transparent;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: Comfortaa;
  font-size: 0.875rem;
  font-weight: 500;
  justify-content: center;
  line-height: 1.75;
  margin: 0;
  min-width: 64px;
  outline: 0;
  padding: 6px 8px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  user-select: none;
  vertical-align: middle;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;

  &:hover {
    background-color: rgba(0, 0, 0, 0.08);
    text-decoration: none;
  }

  i {
    font-size: 2rem;
    font-weight: 400;
  }
}
