div.avatar {
  background-color: #9c27b0;
  font-size: 3rem;
  height: 100px;
  margin-right: 50px;
  width: 100px;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
  margin-top: 100px;
}

p.link {
  margin-top: 10px;
}
