/* Sticky navBar */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.skills span {
  color: black;
}

.project span {
  color: white;
}

/* Portfolio descriptions have better contrast on purple background. */
.portfolio-desc.grommetux-paragraph {
  color: white;
}

#portfolio-source, #portfolio-link {
  color: white;
}

#portfolio-source > svg, #portfolio-link > svg {
  fill: white;
  stroke: white;
}
