.primary-color {
  /* background-color: #0077c2; */
  /* background-color: #eb1736; */
  background-color: #5252d4;
  color: #eee;
}

.nav-link {
  color: rgba(255, 255, 255, 0.85) !important;
  font-weight: 400;
}

.nav-link:hover,
.nav-link.active {
  color: rgba(255, 255, 255, 1) !important;
  text-decoration: none !important;
}

.uppercase {
  text-transform: uppercase;
}

.slow-transition {
  transition: all 0.5s;
}
