.primary-color {
  /* background-color: #0077c2; */
  /* background-color: #eb1736; */
  background-color: #5252d4;
  color: #eee;
}

.nav-link {
  color: rgba(255, 255, 255, 0.85) !important;
  font-weight: 400;
}

.nav-link:hover,
.nav-link.active {
  color: rgba(255, 255, 255, 1) !important;
  text-decoration: none !important;
}

.uppercase {
  text-transform: uppercase;
}

.slow-transition {
  transition: all 0.5s;
}

.router-link {
  box-sizing: border-box;
  font-size: inherit;
  line-height: inherit;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
