.link__unstyled {
  text-decoration: none;
}

.social__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social__list li {
  border-radius: 6px;
  margin: 0 10px;
  padding: 0 20px;
  transition: 0.25s ease-in-out;
}

.social__list li:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.social__list li a {
  color: #ffffff;
}

.links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.links li {
  border-radius: 6px;
  margin: 0 10px;
  padding: 0 20px;
  transition: 0.25s ease-in-out;
}

.links li:hover {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.links li a {
  color: #000000;
}

footer {
  text-align: center;
}

#hero,
#admin-login,
#spinner-container,
#not-found {
  height: 100vh;
}

#spinner-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.spinner {
  width: 40px;
  height: 40px;
  background-color: #14a4bf;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
